# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw changeme

# Install on the first local disk available on machine
<<<<<<< HEAD
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --bootproto=dhcp --device={{ esxi_internal_management_interface }}
=======
#clearpart --firstdisk --overwritevmfs
#install --firstdisk=MR9361-8i,naa,remote --overwritevmfs
install --firstdisk=remote --overwritevmfs

# Set the network to DHCP on the first network adapter
#network --bootproto=dhcp --device={{ esxi_internal_management_interface }}
# Set the network to STATIC on the second network adapter
network --bootproto=static --device={{ esxi_external_management_interface }} --ip={{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }} --netmask={{ infrastructure.vlans.ext_management_vlan.netmask }} --gateway={{ infrastructure.vlans.ext_management_vlan.gateway }} --nameserver={{ infrastructure.vlans.ext_management_vlan.name_server }} --hostname={{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_hostname }}
>>>>>>> aa4ff129e3eaa1cf8e9192e17ce4f1ec8bd06dfa
reboot

%firstboot --interpreter=busybox
# enable & start remote ESXi Shell  (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

### NTP CONFIGURATIONS ###
<<<<<<< HEAD
#cat > /etc/ntp.conf << __NTP_CONFIG__
#server {{ infrastructure.vlans.int_management_vlan.ntp_server }}
#__NTP_CONFIG__
#/sbin/chkconfig ntpd on
=======
cat > /etc/ntp.conf << __NTP_CONFIG__
server {{ infrastructure.vlans.int_management_vlan.ntp_server }}
__NTP_CONFIG__
/sbin/chkconfig ntpd on
>>>>>>> aa4ff129e3eaa1cf8e9192e17ce4f1ec8bd06dfa

# Needed for configuration changes that could not be performed in esxcli
esxcli system maintenanceMode set --enable true
esxcli system shutdown reboot -d 60 -r "rebooting after host configuration"
