unset OS_SERVICE_TOKEN
export OS_USERNAME=admin
export OS_PASSWORD=changeme
export OS_AUTH_URL=http://{{ infrastructure.chassis[enclosure].blades[enclosure+slot].blade_ext_mgmt_ip }}:5000/v2.0
<<<<<<< HEAD
export PS1='\[\e[00;36m\][\u@\h \W(keystone_admin)]$ '
=======
export PS1='\[\e[00;37m\][\u@\h \W(keystone_admin)]$ '
>>>>>>> aa4ff129e3eaa1cf8e9192e17ce4f1ec8bd06dfa
export OS_TENANT_NAME=admin 
export OS_REGION_NAME=RegionOne
